@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");
@import "./reset.css";
@import "./variables.css";

/* Components */
@import "./components/status-bar.css";
@import "./components/nav-bar.css";

/* Screens */
@import "./screens/login.css";
@import "./components/status-bar.css";

body {
  font-family: "Open Sans 600", sans-serif;
  padding-top: 30px;
  height: 3000vh;
}
