@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");
@import "./reset.css";
@import "./variables.css";

/* Components */
@import "./components/screen-header.css";
@import "./components/user.css";
@import "./components/nav-bar.css";
@import "./components/status-bar.css";

/* Screens */
@import "./screens/login.css";
@import "./screens/friends.css";

body {
  font-family: "Open Sans 600", sans-serif;
  padding-top: 26px;
  color: #2e363e;
}

.screen {
  padding-top: 68px;
  display: flex;
  flex-direction: column;
}
