nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #f0f0f0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0px;
}

nav li {
  position: relative;
}

nav a {
  padding: 20px;
  color: #2e363e;
}

nav .noti {
  top: -12px;
  left: 32px;
}

nav li:last-child span {
  top: -8px;
  left: 40px;
}
