.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px var(--horizontal-space);
  position: fixed;
  width: 100vw;
  box-sizing: border-box;
  background-color: white;
}

.screen-header__title {
  font-weight: bold;
  font-size: 1.8rem;
}

.screen-header__menu {
  display: flex;
}

.screen-header__menu li {
  margin-left: 20px;
  position: relative;
}

.screen-header .noti {
  top: -8px;
  right: -8px;
}
