.user-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0px;
}

.user-component__column {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  border-radius: 40%;
}

.avatar-lg {
  height: 85px;
  width: 85px;
}

.avatar-sm {
  height: 60px;
  width: 60px;
}

.user-component__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.user-component__name {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 5px;
}

.name-sm {
  font-weight: 500;
}

.user-component__subtitle {
  color: gray;
  display: flex;
  align-items: center;
}

.user-component__subtitle .i-mark {
  border-radius: 50%;
  color: tomato;
  font-weight: bold;
  border: 2px solid tomato;
  display: inline-block;
  text-align: center;
  font-size: 0.8rem;
  height: 0.8rem;
  width: 0.8rem;
  margin: 0px 5px;
}

.user-component__column:last-child {
  text-align: right;
  color: gray;
}

.user-component__icon {
  display: flex;
  align-items: center;
}

.user-component__icon span {
  padding-right: 3px;
}

.user-component__chat {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__chat * {
  margin: 4px 0px;
}

.user-component__chat .noti {
  position: initial;
}
